button {
    display: block;
    width: 100%;
    margin: 2.5% 0% 0% 0%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 5vmax;
}
button:hover {
    background-color: darkslategray;
    cursor: pointer;
}

.imgcard img {
    width: 100%;
}
.imgcard {
    display: inline-block;
    width: 24%;
    margin-left: 1%;
    border-radius: 0 3% 3% 0%;
    text-align: center
}

#divimgcard {
    visibility: hidden;
    width: 90%;
    position: absolute;
}

#menucell_odd {
    bottom: 0%;
}

#roomnumber {
    top: 5%;
    left: 5%;
    font-size: 3vmax;
    position: absolute;
}

.takeAcard {
    top: 5%;
    right: 5%;
    font-size: 5vmax;
    position: absolute;
    display: block !important;
    background-color: black;
    width: auto;

}

.help {
    background-color: #222;
    visibility: hidden;
    z-index: 900;
    position: absolute;
    top: 0px;
    left: 0px;
    width:90%;
    height:90%;
    padding: 2.5%;
    margin:2.5%;
}

.boxCards {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;   
    overflow: auto;
}

.trailCards {
    width: 100%;
    height: 100%;
    background-color: black;
}

.Cards  {
    width: 45%;
    margin: 2.5%;
    display: inline-block;
} 

.Cards  img {
    width: 100%;
}

.theCard {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: black;
}

.chs {
    position: absolute;
    width: 33%;
    top: 34.5%;
    height: calc(50% - 1.5cm);
}

.chs button {
    background-color: #222;
    height: 1.5cm;
}


.theCard div, .theCard img {
    width: 100%;
}




/*
Menu Structure

The menu is made with two box (div), in this boxes sorting the itens as "par" or "impar".
The itens grow from the center of screen 
*/

button {
    display: block;
    border: none;
    margin: none;
    background-color: transparent;
}

.homeScreen {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.turnCards {
    background-color: #333;
    position: absolute;
}

.menucell {
    position: absolute;
    width: 100%;
}

.menu {
    width: 100%;
    height: 50%;
    position: relative;
}

#wait {
    visibility: hidden;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: darkslategrey;
    color: bisque;
    font-size: 5%;
}


body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.confirmCard {
    width: 100%;
    position: absolute;
    top: calc(50% - 5mm);
    left: 0px;
    font-size: 1cm;
    text-align: center;
    visibility: hidden;
    z-index: 2000;
}

.pulse {
    animation: pulse 2s infinite;
  }

@keyframes pulse {
    0% {
        background-color: black;
    }
    30% {
        background-color: #333;
    }
    70% {
        background-color: #224444;
    }
    100% {
        background-color: #000000;
    }
  }


