button {
    display: block;
    width: 100%;
    margin: 2.5% 0% 0% 0%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 3vmax;
}
button:hover {
    background-color: darkslategray;
    cursor: pointer;
}

.imgcard img {
    width: 100%;
}
.imgcard {
    display: inline-block;
    width: 24%;
    margin-left: 1%;
    border-radius: 0 3% 3% 0%;
    text-align: center
}

#divimgcard {
    visibility: hidden;
    width: 90%;
    position: absolute;
}

#menucell_odd {
    bottom: 0%;
}

#roomnumber {
    top: 5%;
    left: 5%;
    font-size: 2vmax;
    position: absolute;
}

.homeScreen {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 100%;
}

.turnCards {
    background-color: #333;
    position: absolute;
}

.menucell {
    position: absolute;
    width: 100%;
}

.menu {
    width: 100%;
    height: 50%;
    position: relative;
}

#wait {
    visibility: hidden;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: darkslategrey;
    color: bisque;
    font-size: 5%;
}


body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
